.home-bg {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .wrapper {
    overflow: hidden;
    white-space: nowrap;
    width: 85%;
    
  }

  .marquee {
    display: flex;
    align-items: center;
    animation: scroll 10s linear infinite;
  }

  .marquee img {
    flex: 0 0 auto;
    margin-right: 25px;
    display: block; 
    border: none;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }